# Created by https://www.gitignore.io

.env
.ssh/
logs/
.ebextensions/

### Vagrant ###
.vagrant/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
