# Created by https://www.gitignore.io

.env
.ssh/
logs/

### Vagrant ###
.vagrant/

# Elastic Beanstalk Files
.ebextensions/20dev.config
.ebextensions/20prod.config
.ebextensions/99credentials.config
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
