Resources:
  SessionCache:
    Type: "AWS::ElastiCache::CacheCluster"
    Properties:
      CacheNodeType: "cache.t1.micro"
      NumCacheNodes: "1"
      Engine: "memcached"
      CacheSubnetGroupName:
        Ref: "SessionCacheSubnet"
      VpcSecurityGroupIds:
        - Ref: "SessionCacheSecurityGroup"
  SessionCacheSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "Lock down cache to webserver only"
      VpcId:
        Fn::GetOptionSetting:
          OptionName: "VPCId"
      SecurityGroupIngress:
        - IpProtocol: "tcp"
          FromPort: "11211"
          ToPort: "11211"
          SourceSecurityGroupId:
            Ref: "AWSEBSecurityGroup"
  SessionCacheSubnet:
    Type: "AWS::ElastiCache::SubnetGroup"
    Properties:
      Description: "Subnets for ElastiCache"
      SubnetIds:
        Fn::GetOptionSetting:
          OptionName: "CacheSubnets"
Outputs:
  SessionCache:
    Description: "ID of memcached cluster"
    Value:
      Ref: "SessionCache"
