packages:
  rubygems:
    jumpcloud: '0.4.0'
files:
  "/usr/local/etc/jumpcloud_curl.conf":
    mode: "000400"
    owner: root
    group: root
    content: |
      url = https://kickstart.jumpcloud.com/Kickstart
      output = /usr/local/bin/jumpcloud-install
  "/etc/init.d/jumpcloud_terminate":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env ruby
      require 'jumpcloud'
      JumpCloud.delete_system()
  "/etc/rc3.d/K74jumpcloud_terminate":
    mode: "120755"
    owner: root
    group: root
    content: "../init.d/jumpcloud_terminate"
commands:
  jumpcloud_01fetch:
    command:
      - curl
      - -K
      - /usr/local/etc/jumpcloud_curl.conf
      - -K
      - /usr/local/etc/jumpcloud_key.conf
  jumpcloud_02prepare:
    command: chmod +x /usr/local/bin/jumpcloud-install
  jumpcloud_03install:
    command: /usr/local/bin/jumpcloud-install
  jumpcloud_04tag:
    command: /usr/local/bin/jumpcloud-settags
services:
  sysvinit:
    jcagent:
      enabled: true
      ensureRunning: true
