option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: aws-eb
    
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-ca1263af
    
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-aef72885
    
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-adf72886
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SSHSourceRestriction
    value: tcp, 22, 22, sg-67a30303

  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-49a3032d

  - option_name: ENVIRONMENT
    value: dev
