option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: aws-eb
    
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-51f98f34
    
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-1bba2b6c
    
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-1aba2b6d
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SSHSourceRestriction
    value: tcp, 22, 22, sg-7c5dfc18

  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-dd0dacb9

  - namespace: aws:elasticbeanstalk:customoption
    option_name: CacheSubnets
    value: subnet-4ce48c3b
    
  - option_name: ENVIRONMENT
    value: prod
